:root{
  --mainBlue:  #2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainYellow:#ffa440;
  --mainDark:#232528;
  --blue-theme:#70a1ff;

}

body{

  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite)!important;
  }
.text-title{
  font-family:cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}


.text-blue{
  color: var(--mainBlue);
}
.text-bright{
  color: var(--lightBlue);
}

.desc {
  padding: 15px;
  text-align: center;
}
.my_btn{
  color:var(--mainDark);
  margin-right: 1vw;
}
.navbar{
  font-family:sans-serif;
}
.btn_nav:hover{
  border: 1px solid black;
}
.nav-link:hover{
  font-weight: bold;
}

.my_btn:hover{
  background-color: black;
  color:var(--mainWhite);
}
.btn_1{
  width:1.9rem;
}

.btn_1:hover{
  background: black;
  color:var(--mainWhite);
}
.base-container{
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.form-group{
  width:100%;
}
.root-container{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:columns;
}
.box-controller{
  visibility:visible;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  max-width:24em;
  min-width:21em;
  height:35px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(15,15,15,0.2);
  box-shadow:0px 0px 20px 0px rgba(15,15,15,0.2);
  margin-bottom:30px;
  align-items:center;
  transition:visibility 0.5 ease-out
}
.controller{
  flex:1;
  text-align:center;
  height:100%;
  line-height:2;
  cursor:pointer;
}
.selected-controller{
  flex:1;
  text-align:center;
  height:100%;
  line-height:2;
  cursor:pointer;
  transition:border 0.5rem ease-out;
  border-bottom:2px solid var(--blue-theme);
  background-color: white;
}

.box-container{
  flex-direction:columns;
  max-width:24em;
  box-shadow:0px 0px 20px 0px rgba(15,15,15,0.2);
  border-radius:6px;
}
.inner-container{
    transition:visibility 0.2s ease-out;
}
.inner-container.show{
  visibility:visible;
}

.header{
  text-align:center;
  margin-bottom:17px;
  font-size:22px;
  border-bottom: 2px solid var( --blue-theme);
}
.box{
  flex-direction:column;
  justify-content:center;
}
.inner-group{
  font-family:sans-serif;
  font-weight: bold;
  display:flex;
  flex-direction:column;
  width: 90%;
}
.login-input:hover{
  border-color: black;
}
.login_btn{
  background-color: #4CAF50;
  color:white;
  cursor: pointer;
  width: 90%;
  margin-left: 5% !important;
  font-family:sans-serif;
  font-weight: bold;
}
.login_btn:hover{
  background-color: green;
  border-color: black;
}
.cancel_btn{
  background-color: #f44336;
  color:white;
  cursor: pointer;
  width: 90%;
  margin-left: 5% !important;
  font-family:sans-serif;
  font-weight: bold;
}
.cancel_btn:hover{
  background-color:red ;
  border-color: black;

}
